# Part 1 - Truecar.com - New York

#### Step 1 - Imports

In [58]:
import requests
import pandas as pd
from sqlalchemy import create_engine

#### Step 2 - Python Request

In [7]:
headers = {
    'authority': 'www.truecar.com',
    'sec-ch-ua': '^\\^Chromium^\\^;v=^\\^92^\\^, ^\\^',
    'accept': 'application/json, text/plain, */*',
    'x-xsrf-token': 'eEhoo3xg9IIoJPiaNaC14z3Gz9wXJM2coU18nHV/o9EYGaDEQh7Qt4c/KqVmf/YacVEk+aHwo9I8RBr8YhRmIg==',
    'sec-ch-ua-mobile': '?0',
    'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.131 Safari/537.36',
    'sec-fetch-site': 'same-origin',
    'sec-fetch-mode': 'cors',
    'sec-fetch-dest': 'empty',
    'referer': 'https://www.truecar.com/used-cars-for-sale/listings/location-new-york-ny/',
    'accept-language': 'es-US,es-419;q=0.9,es;q=0.8',
}

params = (
    ('city', 'new-york'),
    ('collapse', 'true'),
    ('fallback', 'true'),
    ('include_incentives', 'true'),
    ('include_targeted_incentives', 'true'),
    ('new_or_used', 'u'),
    ('page', '1'),
    ('per_page', '30'),
    ('postal_code', '10001'),
    ('search_event', 'true'),
    ('sort^/[^/]', 'best_match'),
    ('sponsored', 'true'),
    ('state', 'ny'),
)

response = requests.get('https://www.truecar.com/abp/api/vehicles/used/listings', headers=headers, params=params)

#NB. Original query string below. It seems impossible to parse and
#reproduce query strings 100% accurately so the one below is given
#in case the reproduced version is not "correct".
# response = requests.get('https://www.truecar.com/abp/api/vehicles/used/listings?city=new-york&collapse=true&fallback=true&include_incentives=true&include_targeted_incentives=true&new_or_used=u&page=2&per_page=30&postal_code=10001&search_event=true&sort^\[^\]=best_match&sponsored=true&state=ny', headers=headers)

#### Step 3 - Check Status Code

In [8]:
response

#### Step 4 - Create Json Object

In [10]:
results_json = response.json()

In [11]:
type(results_json)

dict

#### Step 5 - Output Keys

In [16]:
results_json.keys()

dict_keys(['listings', 'page', 'per_page', 'total', 'fallback', 'fallback_step', 'refine_parameters', 'display', 'list_price', 'sponsored_listings', 'location'])

#### Step 6 - Find your Data

Necessary data
- brand
- model
- mileage
- year
- price

In [32]:
result_items = results_json['listings']

In [22]:
# brand
results_json['listings'][0]['vehicle']['make']

'Mercedes-Benz'

In [24]:
# model
results_json['listings'][0]['vehicle']['model']

'C-Class'

In [25]:
# mileage
results_json['listings'][0]['vehicle']['mileage']

29641

In [26]:
# year 
results_json['listings'][0]['vehicle']['year']

2018

In [33]:
# price
results_json['listings'][0]['pricing']['list_price']

29901

#### Step 7 - Put everything together & For-Loop

In [39]:
brand_ny = []
model_ny = []
mileage_ny = []
year_ny = []
price_ny = []

for result in result_items:
    
    # brand
    brand_ny.append(result['vehicle']['make'])
    
    # model
    model_ny.append(result['vehicle']['model'])
    
    # mileage
    mileage_ny.append(result['vehicle']['mileage'])
    
    # year 
    year_ny.append(result['vehicle']['year'])
    
    # price
    price_ny.append(result['pricing']['list_price'])

#### Step 8 - Pandas Dataframe - Single Page

In [40]:
df_ny_single = pd.DataFrame({'Brand':brand_ny, 'Model':model_ny, 'Mileage':mileage_ny, 'Year':year_ny, 'Price':price_ny})

In [41]:
df_ny_single

            Brand           Model  Mileage  Year  Price
0   Mercedes-Benz         C-Class    29641  2018  29901
1   Mercedes-Benz         C-Class    19457  2018  31901
2           Lexus              ES    29288  2018  27764
3   Mercedes-Benz             GLE    29557  2018  39901
4   Mercedes-Benz         C-Class    34843  2018  30901
5            Jeep  Grand Cherokee    26553  2018  30162
6          Nissan           Rogue    23530  2018  17323
7          Toyota            RAV4    43028  2017  19001
8   Mercedes-Benz         C-Class    17880  2018  32901
9   Mercedes-Benz             GLE    20443  2018  39995
10  Mercedes-Benz             GLC    24943  2018  34903
11          Lexus              ES    11522  2018  26991
12  Mercedes-Benz             GLE    44508  2018  38901
13          Lexus              ES    29726  2018  28124
14         Nissan           Rogue    24474  2018  21303
15  Mercedes-Benz             GLE    38246  2018  39901
16          Lexus              ES    42230  2018  25904
17  Mercedes-Benz         E-Class    38458  2018  39901
18           Ford           F-150    77911  2018  28995
19  Mercedes-Benz             CLA    38934  2018  27901
20  Mercedes-Benz             GLE    27661  2018  42901
21         Nissan           Rogue    10314  2018  20998
22  Mercedes-Benz             GLC    10179  2019  38901
23  Mercedes-Benz             GLE    36892  2018  41901
24  Mercedes-Benz             GLC    23604  2018  36901
25         Nissan           Rogue    44943  2018  21256
26  Mercedes-Benz             GLC     8638  2021  49670
27  Mercedes-Benz         C-Class     1000  2018  32901
28          Lexus              RX    23286  2017  34486
29          Lexus              RX    25063  2018  36484

#### Step 9 - Scraping Multiple Pages (here: ~5000results)

In [43]:
brand_ny = []
model_ny = []
mileage_ny = []
year_ny = []
price_ny = []


for i in range (1,170):

    headers = {
        'authority': 'www.truecar.com',
        'sec-ch-ua': '^\\^Chromium^\\^;v=^\\^92^\\^, ^\\^',
        'accept': 'application/json, text/plain, */*',
        'x-xsrf-token': 'eEhoo3xg9IIoJPiaNaC14z3Gz9wXJM2coU18nHV/o9EYGaDEQh7Qt4c/KqVmf/YacVEk+aHwo9I8RBr8YhRmIg==',
        'sec-ch-ua-mobile': '?0',
        'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.131 Safari/537.36',
        'sec-fetch-site': 'same-origin',
        'sec-fetch-mode': 'cors',
        'sec-fetch-dest': 'empty',
        'referer': 'https://www.truecar.com/used-cars-for-sale/listings/location-new-york-ny/',
        'accept-language': 'es-US,es-419;q=0.9,es;q=0.8',
    }

    params = (
        ('city', 'new-york'),
        ('collapse', 'true'),
        ('fallback', 'true'),
        ('include_incentives', 'true'),
        ('include_targeted_incentives', 'true'),
        ('new_or_used', 'u'),
        ('page', str(i)),
        ('per_page', '30'),
        ('postal_code', '10001'),
        ('search_event', 'true'),
        ('sort^/[^/]', 'best_match'),
        ('sponsored', 'true'),
        ('state', 'ny'),
    )
    
    # response
    response = requests.get('https://www.truecar.com/abp/api/vehicles/used/listings', headers=headers, params=params)
    
    # json object
    results_json = response.json()
    
    # list of results
    result_items = results_json['listings']

    
    for result in result_items:

        # brand
        brand_ny.append(result['vehicle']['make'])

        # model
        model_ny.append(result['vehicle']['model'])

        # mileage
        mileage_ny.append(result['vehicle']['mileage'])

        # year 
        year_ny.append(result['vehicle']['year'])

        # price
        price_ny.append(result['pricing']['list_price'])

In [44]:
df_ny_single = pd.DataFrame({'Brand':brand_ny, 'Model':model_ny, 'Mileage':mileage_ny, 'Year':year_ny, 'Price':price_ny})

In [45]:
df_ny_single

              Brand       Model  Mileage  Year    Price
0     Mercedes-Benz     C-Class    29641  2018  29901.0
1     Mercedes-Benz     C-Class    19457  2018  31901.0
2             Lexus          ES    29288  2018  27764.0
3     Mercedes-Benz         GLE    29557  2018  39901.0
4     Mercedes-Benz     C-Class    34843  2018  30901.0
...             ...         ...      ...   ...      ...
5065         Toyota  Highlander    51176  2018  31883.0
5066          Honda       Civic    94488  2001   4990.0
5067          Honda       Civic    36700  2019  20995.0
5068            BMW          X6   116016  2014  19985.0
5069         Toyota  Highlander    22874  2018  33438.0

[5070 rows x 5 columns]

In [46]:
df_ny_single.to_excel('output_5k.xlsx', index=False)

# Part 2 - Truecar.com - San Francisco

In [47]:
brand_sf = []
model_sf = []
mileage_sf = []
year_sf = []
price_sf = []


for i in range(1,170):

    headers = {
        'authority': 'www.truecar.com',
        'sec-ch-ua': '^\\^Chromium^\\^;v=^\\^92^\\^, ^\\^',
        'accept': 'application/json, text/plain, */*',
        'x-xsrf-token': 'W9iP9VoZMDhl3kpIGjqH1cqEGFO6EkbDdDw1bM0ROiA7iUeSZGcUDcrFmHdJ5cQshhPzdgzGKI3pNVMM2nr/0w==',
        'sec-ch-ua-mobile': '?0',
        'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.131 Safari/537.36',
        'sec-fetch-site': 'same-origin',
        'sec-fetch-mode': 'cors',
        'sec-fetch-dest': 'empty',
        'referer': 'https://www.truecar.com/used-cars-for-sale/listings/location-san-francisco-ca/',
        'accept-language': 'es-US,es-419;q=0.9,es;q=0.8',
    }

    params = (
        ('city', 'san-francisco'),
        ('collapse', 'true'),
        ('fallback', 'true'),
        ('include_incentives', 'true'),
        ('include_targeted_incentives', 'true'),
        ('new_or_used', 'u'),
        ('page', str(i)),
        ('per_page', '30'),
        ('postal_code', '94102'),
        ('search_event', 'true'),
        ('sort^/[^/]', 'best_match'),
        ('sponsored', 'true'),
        ('state', 'ca'),
    )
    
    # response
    response = requests.get('https://www.truecar.com/abp/api/vehicles/used/listings', headers=headers, params=params)
    
    # json object
    results_json = response.json()
    
    # list of results
    result_items = results_json['listings']

    for result in result_items:

        # brand
        brand_sf.append(result['vehicle']['make'])

        # model
        model_sf.append(result['vehicle']['model'])

        # mileage
        mileage_sf.append(result['vehicle']['mileage'])

        # year 
        year_sf.append(result['vehicle']['year'])

        # price
        price_sf.append(result['pricing']['list_price'])

In [48]:
df_sf_single = pd.DataFrame({'Brand':brand_sf, 'Model':model_sf, 'Mileage':mileage_sf, 'Year':year_sf, 'Price':price_sf})

In [49]:
df_sf_single

       Brand        Model  Mileage  Year    Price
0        BMW           X3    16902  2018  35995.0
1        BMW     3 Series    57609  2018  23995.0
2        BMW     3 Series    20868  2018  36995.0
3        BMW     3 Series    10882  2018  29995.0
4        BMW           X5    41277  2018  39995.0
...      ...          ...      ...   ...      ...
5065    Ford      Mustang    15141  2019  27243.0
5066   Dodge      Charger     9863  2020  42751.0
5067   Dodge      Charger    25960  2019  41999.0
5068     GMC  Sierra 1500    37554  2018  46800.0
5069  Subaru          WRX    31157  2019  34990.0

[5070 rows x 5 columns]

In [50]:
df_sf_single.to_excel('output_5k_sf.xlsx', index=False)

# Part 3 - Combine Data & Connect to Database - PostgreSQL

In [51]:
# merge dataframes
merged_dataframes = pd.concat([df_ny_single, df_sf_single], ignore_index = True)

In [ ]:
merged_dataframes

In [54]:
# convert float type data to integer

merged_dataframes['Price'] = merged_dataframes['Price'].astype('Int64')

In [55]:
merged_dataframes

               Brand        Model  Mileage  Year  Price
0      Mercedes-Benz      C-Class    29641  2018  29901
1      Mercedes-Benz      C-Class    19457  2018  31901
2              Lexus           ES    29288  2018  27764
3      Mercedes-Benz          GLE    29557  2018  39901
4      Mercedes-Benz      C-Class    34843  2018  30901
...              ...          ...      ...   ...    ...
10135           Ford      Mustang    15141  2019  27243
10136          Dodge      Charger     9863  2020  42751
10137          Dodge      Charger    25960  2019  41999
10138            GMC  Sierra 1500    37554  2018  46800
10139         Subaru          WRX    31157  2019  34990

[10140 rows x 5 columns]

In [56]:
merged_dataframes.to_excel('merged_dataframes.xlsx', index=False)

In [67]:
engine = create_engine('postgresql://postgres:admin@localhost:5432')
merged_dataframes.to_sql('cars_results', engine)